
{% extends "common/head.twig"%}

{% block slider %}


    <div id="slider" class="slider-container">
        <div class="slider-control left inactive"></div>
        <div class="slider-control right"></div>
        <ul class="slider-pagi"></ul>
        <div class="slider">
            <div class="slide slide-0 active">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                    </svg>
                    <div class="slide__text">
                        <h2 class="slide__text-heading">Identidade</h2>
                        <p class="slide__text-desc">Visual garantida.</p>
                    </div>
                </div>
            </div>
            <div class="slide slide-1 ">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                    </svg>
                    <div class="slide__text">
                        <h2 class="slide__text-heading">Estabilidade</h2>
                        <p class="slide__text-desc">Garantida de valores.</p>

                    </div>
                </div>
            </div>
            <div class="slide slide-2">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                    </svg>
                    <div class="slide__text">
                        <h2 class="slide__text-heading">Parcelamento</h2>
                        <p class="slide__text-desc">Planejado.</p>

                    </div>
                </div>
            </div>
            <div class="slide slide-3">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                    </svg>
                    <div class="slide__text">
                        <h2 class="slide__text-heading">Fluxo de Caixa</h2>
                        <p class="slide__text-desc">Dispensa compra de grandes volumes.</p>

                    </div>
                </div>
            </div>
            <div class="slide slide-4">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                    </svg>
                    <div class="slide__text">
                        <h2 class="slide__text-heading">Otimiza√ß√£o</h2>
                        <p class="slide__text-desc">Estoque</p>

                    </div>
                </div>
            </div>
            <div class="slide slide-5">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                    </svg>
                    <div class="slide__text">
                        <h2 class="slide__text-heading">Valores</h2>
                        <p class="slide__text-desc">Pr√©-definidos para todos os produtos que utilizar.</p>

                    </div>
                </div>
            </div>
            <div class="slide slide-6">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                    </svg>
                    <div class="slide__text">
                        <h2 class="slide__text-heading">Instala√ß√µes</h2>
                        <p class="slide__text-desc">Remo√ß√£o e manuten√ß√£o das Placas e pre√ßos reduzidos.</p>

                    </div>
                </div>
            </div>
            <div class="slide slide-7">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                    </svg>
                    <div class="slide__text">
                        <h2 class="slide__text-heading">Garantia</h2>
                        <p class="slide__text-desc">Compromisso com os prazos</p>

                    </div>
                </div>
            </div>
            <div class="slide slide-8">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                    </svg>
                    <div class="slide__text">
                        <h2 class="slide__text-heading">Entrega</h2>
                        <p class="slide__text-desc">Programada conforme necessidade, datas e quantidades definidos.</p>

                    </div>
                </div>
            </div>
            <div class="slide slide-9">
                <div class="slide__bg"></div>
                <div class="slide__content">
                    <svg class="slide__overlay" viewBox="0 0 720 405" preserveAspectRatio="xMaxYMax slice">
                    <path class="slide__overlay-path" d="M0,0 150,0 500,405 0,405" />
                    </svg>
                    <div class="slide__text">
                        <h2 class="slide__text-heading">Valor agregado</h2>
                        <p class="slide__text-desc">Agregado com a valoriza√ß√£o da marca e comprometimento.</p>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <br>
    <br>

    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script  src="public/site/js/index.js"></script>
{% endblock %}
{# fim  #}

{% block diferenciais %}
    <section id="diferenciais" class="container">  
        <div id="feature-container">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="page-header">Diferenciais</h2>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                    <div class="feature-inner">
                        <div class="icon-wrapper">
                            <i class="fa fa-2x fa-envelope-o"></i>
                        </div>
                        <h2>CONVENI√äNCIA</h2>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="900ms">
                    <div class="feature-inner">
                        <div class="icon-wrapper">
                            <i class="fa fa-2x fa-star-o"></i>
                        </div>
                        <h2>ECONOMIA</h2>
                    </div>
                </div>
                <div class="col-sm-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="1200ms">
                    <div class="feature-inner">
                        <div class="icon-wrapper">
                            <i class="fa fa-2x fa-comments-o"></i>
                        </div>
                        <h2>SATISFA√á√ÉO</h2>
                    </div>
                </div>                        
            </div>
        </div>

        <br>
        <br>
    </section>
{% endblock %}
{# fim  #}

{% block oCreditoFantastico %}


    <section id="o-credito-fantastico" class="responsive">
        <div class="vertical-center" id="action">
            <div class="container">
                <div class="row">
                    <div class="action take-tour">
                        <div class="col-sm-12 wow fadeInLeft animated" data-wow-duration="500ms" data-wow-delay="300ms" style="visibility: visible; animation-duration: 500ms; animation-delay: 300ms; animation-name: fadeInLeft;">
                            <br><center><h1 class="title">O Cr√©dito Fant√°stico</h1>
                                <h4>  √â  um sistema de compra programada que voc√™ pode utilizar por tempo indeterminado enquanto<br> durarem
                                    seus cr√©ditos e fazer de qualquer lugar que tiver uma conex√£o de internet.</h4></center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container">
            <div class="row">
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{{ img }}home/noticia.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>A boa not√≠cia √©</h2>
                        <P>Que al√©m do conte√∫do do Cr√©dito Fant√°stico, eu resolvi oferecer b√¥nus que, na minha opini√£o, 
                            Agrega grande valor no conte√∫do de nossa oferta.</P>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>O interesse no Cr√©dito Fant√°stico</h2>
                        <P>Foi bem recebido por nossos clientes em visitas feitas recentemente...
                            Mais de 50 visitas realizadas antes deste lan√ßamento que demonstraram o interesse em se inscrever...</P>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{{ img }}home/clientes.png" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{{ img }}home/credito.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Vamos falar da nossa OFERTA EXTRAORDIN&Aacute;RIA </h2>
                        <P>Que pensamos para voc√™ depois de dias planejando,
                            preparando, escutando nossos parceiros decidimos lhe oferecer.</P>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}
{# fim  #}

{% block loteria %}
    <section id="loteria">
        <div class="container">
            <div id="tab-container">


                <div id="accordion-container">

                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseO">

                                        <h2>
                                            <center>
                                                <img src="{{ img }}credito-fantastico.png" class="img-responsive" alt=""><br>Imagine que voc√™ comprou um bilhete de loteria.</center><center class="custom-color-clique-aqui"> <br>(Clique aqui) </center></h2>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseO" class="panel-collapse collapse">
                                <div class="panel-body">


                                    <p align="justify">S√≥ que, ao contr√°rio de um bilhete comum, esse bilhete te oferece a possibilidade de reembolso caso ele n√£o seja o bilhete premiado.</p>
                                    <p align="justify">Voc√™ compraria esse bilhete?</p>
                                    <p align="justify">Voc√™ investiria seu dinheiro nele tendo a certeza que, se ele n√£o fosse o bilhete premiado, voc√™ pudesse ir na lot√©rica pedir o ressarcimento desse bilhete de volta?</p>
                                    <p align="justify">Eu compraria!
                                    </p>
                                    <p align="justify">E se voc√™ tamb√©m compraria, continue lendo esse e-mail, porque eu vou te fazer uma proposta parecida - mas deixa eu explicar o que eu quero dizer com isso.</p>
                                    <p align="justify">Para n√≥s, o Cr√©dito Fant√°stico √© como se fosse um bilhete premiado.</p>
                                    <p align="justify">Mas, veja, isso n√£o quer dizer que √© uma f√≥rmula m√°gica.</p>
                                    <p align="justify">√â um resultado que vem da dedica√ß√£o, do esfor√ßo e da energia que colocamos neste empreendimento, para colocar o cr√©dito fant√°stico em a√ß√£o.</p>
                                    <p align="justify">D√° s√≥ uma olhada:</p>
                                    <p align="justify">Pode-se dizer que, o Cr√©dito Fant√°stico √© uma esp√©cie de bilhete de loteria premiado.</p>
                                    <p align="justify">Agora, por que eu estou te falando isso?</p>
                                    <p align="justify">Porque eu n√£o tenho como julgar que, para voc√™, se o cr√©dito fant√°stico √© um bilhete de loteria premiado.</p>
                                    <p align="justify">S√≥ voc√™ pode avaliar isso.</p>
                                    <p align="justify">Mas o fato √© o seguinte: eu te dou 45 dias para descobrir.<br>
                                    </p>
                                    <p align="justify"><strong>E, se nos primeiros 45 dias depois da confirma√ß√£o da sua inscri√ß√£o no cr√©dito fant√°stico voc√™ descobrir que na sua pr√≥pria opini√£o n√£o √© o equivalente a um bilhete premiado, basta voc√™ me mandar um e-mail, dentro desses 45 dias, pedindo o cancelamento, que eu envio o seu dinheiro de volta, descontando o que foi usado at√© o cancelamento<br>
                                            <br>Tamb√©m vamos colocar aqui uma garantia de comprometimento de prazos estipulados, o n√£o cumprimento de prazos pela Casa dos Banners dar√° o direito do cliente n√£o pagar o produto em quest√£o, isso mesmo se a Casa dos Banners atrasar uma entrega voc√™ n√£o vai pagar por este produto, vai receber de gra√ßa.<br>
                                            <br>
                                            Ps. Prazos sempre estipulados na hora do pedido e enviado via e-mail para o cliente acompanhar<br>
                                        </strong></p>
                                    <p align="justify">Acho que na vida vai ser dif√≠cil voc√™ encontrar um acordo desses.</p>
                                    <p align="justify">Porque nesse caso, o risco √© todo meu.</p>
                                    <p align="justify">E por que eu estou assumindo esse risco?</p>
                                    <p align="justify">Porque acreditamos neste projeto.</p>
                                    <p align="justify">Porque os anos de experi√™ncia neste mercado nos capacitaram para isso .</p>
                                    <p align="justify">Porque eu j√° apertei a m√£o de v√°rios empreendedores que acreditam no resultado.</p>
                                    <p align="justify">E porque eu quero apertar a sua m√£o tamb√©m.<br>
                                    </p>


                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
    </section>
{% endblock %}
{# fim  #}

{% block as10Vantagens %}
    <section id="as-10-vantagens" class="container"> 
        <div class="row">
            <div class="col-md-12">
                <h2 class="page-header">As 10 Vantagens</h2>
            </div>
            <div class="col-sm-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="1200ms">
                <div class="feature-inner">
                    <p align="justify">A dedica√ß√£o de 10 anos na comunica√ß√£o visual, e este ano aconteceu uma coisa percebemos que j√° atendemos mais de 1000 imobili√°rias pelo brasil com diversos produtos e servi√ßos, e estamos comprometidos em melhorar e revolucionar nosso atendimento, e agora resolvemos que vamos nos tornar a mais especializada  no mercado imobili√°rio, criando VALOR para nosso Cliente voc√™ e para a Casa dos Banners estruturando e focando somente na √°rea de im√≥veis trabalhando junto com imobili√°rias e construtoras.</p>
                    <p align="justify">Como disse anteriormente queremos criar uma parceria, e ter uma maior din√¢mica com nossos clientes, ter procesos melhor definidos, poder dar uma melhor assist√™ncia e consultoria, apresentar produtos de melhor qualidade.</p>
                    <p align="justify">E antes de tomar esta decis√£o, pensei muito nisto para apresentar este produto. </p>
                </div>
            </div>
            <div class="col-md-12">
                <hr>
                <ul id="tab2" class="nav nav-pills">
                    <li class="active"><a href="#tab2-item1" data-toggle="tab">Identidade</a></li>
                    <li><a href="#tab2-item2" data-toggle="tab">Estabilidade</a></li>
                    <li><a href="#tab2-item3" data-toggle="tab">Parcelar</a></li>
                    <li><a href="#tab2-item4" data-toggle="tab">Fluxo de Caixa</a></li>
                    <li><a href="#tab2-item5" data-toggle="tab">Estoque</a></li>
                    <li><a href="#tab2-item6" data-toggle="tab">Embalagem</a></li>
                    <li><a href="#tab2-item7" data-toggle="tab">Valores</a></li>
                    <li><a href="#tab2-item8" data-toggle="tab">Instala√ß√£o</a></li>
                    <li><a href="#tab2-item9" data-toggle="tab">Garantia</a></li>
                    <li><a href="#tab2-item10" data-toggle="tab">Entrega</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane fade active in" id="tab2-item1">

                        <div class="row">
                            <div class="col-md-6">

                                <img src="{{ img }}vantagens/identidade.jpg"" class="img-responsive" alt="">

                            </div>   
                            <div class="col-md-6">
                                <p>Preparar e antecipar para nosso cliente uma identidade visual gratuita sobre todos os produtos utilizados por voc√™ para que possamos agilizar a etapa de prepara√ß√£o de artes, que normalmente tem consumido um tempo muito grande e as vezes esquecemos de algum detalhe ou at√© mesmo deixamos passar algum erro.</p>

                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2-item2">

                        <div class="col-md-6">


                            <img src="{{ img }}vantagens/estabilidade.jpg"" class="img-responsive" alt="">


                        </div>   
                        <div class="col-md-6"> <p>Estabilidade e garantia nos valores dos produtos por mais de um ano sem mudan√ßas ou surpresas at√© mesmo sair fora do seu or√ßamento
                                .</p></div>
                    </div>
                    <div class="tab-pane fade" id="tab2-item3">

                        <div class="col-md-6">

                            <img src="{{ img }}vantagens/parcelamento.jpg"" class="img-responsive" alt="">


                        </div>   
                        <div class="col-md-6"><p>Poder parcelar ou planejar seus investimentos em publicidade dos im√≥veis
                                .</p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab2-item4">

                        <div class="col-md-6">

                            <img src="{{ img }}vantagens/fluxoDeCaixa.jpg"" class="img-responsive" alt="">

                        </div>   
                        <div class="col-md-6"> <p>Melhorar seu fluxo de caixa pois n√£o precisa fazer compras de grandes quantidades para melhorar o valor da compra.</p>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="tab2-item5">

                        <div class="col-md-6">

                            <img src="{{ img }}vantagens/estoque.jpg"" class="img-responsive" alt="">


                        </div>   
                        <div class="col-md-6"><p>Otimizar estoques n√£o precisar manter grandes estoques, nem espa√ßo f√≠sico.</p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab2-item6">

                        <div class="col-md-6">

                            <img src="{{ img }}vantagens/valores.jpg"" class="img-responsive" alt="">

                        </div>   
                        <div class="col-md-6"><p>Embalagem, faixas, banners e pvc sem em caixas identificando produto.</p>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2-item7">

                        <div class="col-md-6">

                            <img src="{{ img }}vantagens/instalacoes.jpg"" class="img-responsive" alt="">


                        </div>   
                        <div class="col-md-6"> <p>Valores pr√©-definido de todo os produtos que utiliza.</p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab2-item8">

                        <div class="col-md-6">

                            <img src="{{ img }}vantagens/garantia.jpg"" class="img-responsive" alt="">


                        </div>   
                        <div class="col-md-6"> <p>Instala√ß√£o. retirada e manuten√ß√£o de suas placas com pre√ßos reduzidos.</p>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="tab2-item9">

                        <div class="col-md-6">

                            <img src="{{ img }}vantagens/entrega.jpg"" class="img-responsive" alt="">


                        </div>   
                        <div class="col-md-6"> <p>Garantia e compromisso com prazos estipulados ou negociados, placas com maior e melhor valor agregado.</p>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="tab2-item10">

                        <div class="col-md-6">

                            <img src="{{ img }}vantagens/valor.jpg"" class="img-responsive" alt="">


                        </div>   
                        <div class="col-md-6"><p>Entrega programada conforme necessidade do cliente com datas e quantidades definidas.</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
{% endblock %}
{# fim  #}


{% block oImportante %}

    <section id="importante" class="container"> 

        <div class="container">
            <div class="row">
                <h2>Aten&ccedil;&atilde;o</h2>
                <HR>
                <div class="single-features">
                    <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{{ img }}atencao/o-mais-importante.png" class="img-responsive" alt="">
                    </div>
                    <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>O mais importante para n&oacute;s</h2>
                        <P>Casa dos Banners e o VALOR proporcionado,para nosso cliente, valoriza&ccedil;&atilde;o de suas marcas / apresenta&ccedil;&atilde;o dos produtos perante seu cliente / comprometimento com seu neg&oacute;cio.</P>
                    </div>
                </div>
                <div class="single-features">
                    <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <h2>Ficar em cima do muro</h2>
                        <P>&Eacute;, na minha percep&ccedil;&atilde;o, uma das situa&ccedil;&otilde;es mais agonizantes e ao mesmo tempo mais comuns para empreendedores. E existe um momento espec&iacute;fico onde isso ocorre com maior frequ&ecirc;ncia, que &eacute; justamente um momento de defini&ccedil;&atilde;o dos mais importantes.</P>
                    </div>
                    <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                        <img src="{{ img }}atencao/ficar-em-cima-do-muro.png" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>  
</section>
{% endblock %}
{# fim  #}
{% block bonus %}
    <section id="bonus" class="container">        
        <div id="tab-container">
            <div id="accordion-container">
                <h2 class="page-header">B√¥nus</h2>
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion " href="#collapseOne">
                                    #1 - Cr√©dito
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <img src="{{ img }}bonus/credito.jpg"" class="img-responsive" alt="">
                                </div>
                                <div class="col-md-6">
                                    <p>Cr√©dito em dinheiro acrescido direto em sua conta.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true">
                                    #2 - Identidade visual
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div class="col-md-6"><img src="{{ img }}bonus/identidade.jpg"" class="img-responsive" alt="">
                                </div>
                                <div class="col-md-6"> Identidade visual pensada e planejada para melhor divulgar seus produtos tem o poder de alavancar, 
                                   <p> agilizar procedimentos, colocar sua placa mais r√°pido no local angariado, al√©m de evitar erros de ortografia, 
                                    esquecimento de algum dado importante, 
                                    claro que isso junto com seu pessoal de marketing com o seu conceito, 
                                    mas com nosso conhecimento sobre os produtos.

                                    Isso n√£o s√≥ devido a parcerias formada, mas sim da ajuda entre si. 
                                    onde ajudam e s√£o ajudados uns pelos outros, possibilitando assim melhores resultados.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true">
                                    #3 - Estabilidade e garantia nos valores dos produtos enquanto durar seus cr√©ditos sem mudan√ßas ou surpresas
                                </a>
                            </h4>
                        </div>
                        <div id="collapseThree" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div class="col-md-6"><img src="{{ img }}bonus/estabilidade.jpg"" class="img-responsive" alt="">
                                </div> 
                                <div class="col-md-6">Isso cria uma estabilidade, e possibilidade de projetar seus investimentos em publicidade para at√© um ano ou mais,
                                   <p> colocando um diferencial no investimento em m√≠dia em suas angaria√ß√£o.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
                                    #4 - Garantia sobre prazo de entrega
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFour" class="panel-collapse collapse">
                            <div class="panel-body">

                                <div class="col-md-6"> <img src="{{ img }}bonus/garantia.jpg"" class="img-responsive" alt="" aria-expanded="true">
                                </div> 
                                <div class="col-md-6">Ao fazer a inscri√ß√£o no cr√©dito fant√°stico, voc√™ ter√° todas as retiradas de placas sem custo,
                                   <p> pela Casa dos Banners, al√©m desta aus√™ncia de custo,
                                    tem um apelo ecol√≥gico pois podemos reciclar estas placas, 
                                    todos sabemos que s√£o produtos ruins de dar destino correto.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true">
                                    #5 - Ambiente Exclusivo do Cliente em nosso site
                                </a>
                            </h4>
                        </div>
                        <div id="collapseFive" class="panel-collapse collapse">
                            <div class="panel-body">
                                <div class="col-md-6">
                                    <img src="{{ img }}bonus/ambiente.jpg"" class="img-responsive" alt="">
                                </div>
                                <div class="col-md-6">A cria√ß√£o de um ambiente √∫nico, exclusivo  dentro de nosso site com todas as suas artes produtos, 
                                   <p> Fotos de suas placas instaladas onde controlamos as retiradas, possibilidade de acompanhar seus cr√©ditos, 
                                    verificar a identidade visual criada por n√≥s em conjunto, 
                                    poder fazer pedidos e altera√ß√µes,verificar sua lista de valores.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{# fim  #}

{% block ofertas %}
     <section id="ofertas" class="container">      
            <div class="row">
          <div class="col-sm-12 wow">
              
                <h2 class="page-header">Ofertas</h2>
              <div class="col-sm-3 wow mdesative" data-wow-duration="500ms" data-wow-delay="300ms">
                    <br><br><br><br> <img src="http://www.cdbclubeimobiliario.com.br/public/images/ofertas/left.png" alt="Responsive image" class="img-responsive" align="right">
</div>
                <div class="col-sm-6 wow" data-wow-duration="500ms" data-wow-delay="300ms">
<center><img src="http://www.cdbclubeimobiliario.com.br/public/images/ofertas/meio.png" class="img-responsive" alt="Responsive image"></center>

</div>
                <div class="col-sm-3 wow mdesative" data-wow-duration="500ms" data-wow-delay="300ms">
<br><br><br><br><img src="http://www.cdbclubeimobiliario.com.br/public/images/ofertas/right.png" alt="Responsive image" class="img-responsive" align="left">
</div>
          </div>
            </div>
    <!--<section id="ofertas" class="container">        
        <div class="price-table">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <div class="single-price price-one">
                        <div class="table-heading">
                            <p class="plan-name">Oferta #1:</p>
                            <p class="plan-price"><span class="dollar-sign">R$: </span><span class="price">3.000,00</span><span class="month">+ Super bonus de 15%</span><span class="dollar-sign">Total R$: </span><span class="price">3.450,00</span></p>
                        </div>
                        <ul class="ofertas-customs">                            
                            <li>Banner <span><i class="fa fa-check"></i></span></li>
                            <li>Faixa <span><i class="fa fa-check"></i></span></li>
                            <li>Placa de PVC <span><i class="fa fa-check"></i></span> </li>
                            <li>Placa de metal e lona <span><i class="fa fa-check"></i></span></li>
                            <li>Placa de metal e adesivo <span><i class="fa fa-check"></i></span></li>
                            <li>Ps: placas instaladas e com pÈs de madeira com 4 metros <span><i class="fa fa-check"></i></span></li>
                        </ul>
                        <a href="http://www.casadosbanners.com.br/loja/index.php?route=product/product&path=64_134&product_id=1190" class="btn btn-buynow">Contratar</a><br><br>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="single-price price-two">
                        <div class="table-heading">
                            <p class="plan-name">Oferta #2:</p>
                            <p class="plan-price"><span class="dollar-sign">R$: </span><span class="price">5.000,00</span><span class="month">+ Super bonus de 20%</span><span class="dollar-sign">Total R$: </span><span class="price">6.000,00</span></p>
                        </div> 
                        <ul class="ofertas-customs">                         
                            <li>Banner <span><i class="fa fa-check"></i></span></li>
                            <li>Faixa <span><i class="fa fa-check"></i></span></li>
                            <li>Placa de PVC <span><i class="fa fa-check"></i></span> </li>
                            <li>Placa de metal e lona <span><i class="fa fa-check"></i></span></li>
                            <li>Placa de metal e adesivo <span><i class="fa fa-check"></i></span></li>
                            <li>Ps: placas instaladas e com pÈs de madeira com 4 metros <span><i class="fa fa-check"></i></span></li>
                        </ul>
                        <a href="http://www.casadosbanners.com.br/loja/index.php?route=product/product&path=64_134&product_id=1191" class="btn btn-buynow btn-hightlight">Contratar</a><br><br>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="single-price price-three">
                        <div class="table-heading">
                            <p class="plan-name">Oferta #3:</p>
                            <p class="plan-price"><span class="dollar-sign">R$: </span><span class="price">10.000,00</span><span class="month">+ Super bonus de 25%</span><span class="dollar-sign">Total R$: </span><span class="price">12.500,00</span></p>
                        </div>
                        <ul class="ofertas-customs">                   
                            <li>Banner <span><i class="fa fa-check"></i></span></li>
                            <li>Faixa <span><i class="fa fa-check"></i></span></li>
                            <li>Placa de PVC <span><i class="fa fa-check"></i></span> </li>
                            <li>Placa de metal e lona <span><i class="fa fa-check"></i></span></li>
                            <li>Placa de metal e adesivo <span><i class="fa fa-check"></i></span></li>
                            <li>Ps: placas instaladas e com pÈs de madeira com 4 metros <span><i class="fa fa-check"></i></span></li>
                        </ul>
                        <a href="http://www.casadosbanners.com.br/loja/index.php?route=product/product&path=64_134&product_id=1192" class="btn btn-buynow">Contratar</a><br><br>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3">
                    <div class="single-price price-four">
                        <div class="table-heading">
                            <p class="plan-name">Oferta #4:</p>
                            <p class="plan-price"><span class="dollar-sign">R$: </span><span class="price">20.000,00</span><span class="month">+ Super bonus de 30%</span><span class="dollar-sign">Total R$: </span><span class="price">26.000,00</span></p>
                        </div>
                        <ul class="ofertas-customs">                    
                            <li>Banner <span><i class="fa fa-check"></i></span></li>
                            <li>Faixa <span><i class="fa fa-check"></i></span></li>
                            <li>Placa de PVC <span><i class="fa fa-check"></i></span> </li>
                            <li>Placa de metal e lona <span><i class="fa fa-check"></i></span></li>
                            <li>Placa de metal e adesivo <span><i class="fa fa-check"></i></span></li>
                            <li>Ps: placas instaladas e com pÈs de madeira com 4 metros <span><i class="fa fa-check"></i></span></li>
                        </ul>
                        <a href="http://www.casadosbanners.com.br/loja/index.php?route=product/product&path=64_134&product_id=1193" class="btn btn-buynow">Contratar</a><br><br>
                    </div>
                </div>
            </div>
        </div>
    </section>-->
    <br><br><br><br>
    </section>
{% endblock %}
{# fim  #}

{# {% block confichaDeCadastrotent %}
<section id="ficha-de-cadastro">
    <div class="container">
        <div class="row">

            <div class="text-center col-md-14" >
                <div class="col-sm-2">
                    <img src="{{ img }}logo2.png" width="100%"/>
                </div>
                <div class="col-sm-7 col-sm-offset-1">
                    <div class="col-md-3" >
                        <img src="{{ img }}ebook.png" alt="ebook" width="80%"/>
                    </div>
                    <div style="margin-bottom: 50px">
                        <strong style="font-size: 25px; color: #fff;">Ganhe um ebook <span style="color: red">" Totalmente Gr√°tis "</span></strong>
                        <br>
                        <br>
                        <strong style="font-size: 25px; margin-bottom: 50px; color: #fff;">"Resolva em definitivo seus problemas com produtos de divulga√ß√£o imobili√°ria "</strong>
                    </div>

                    <form  method="post" action="index.php?c=capturaEmail&a=capturaEmail">

                        <div class="form-group">
                            <input type="email" name="email" class="form-control" required="required" placeholder="Digite Seu melhor email">
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-submit">Quero ter o ebook Agora</button>

                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>     

</section>

{% endblock %} #}
