<section id="as-10-vantagens" class="container"> 
    <div class="row">
        <div class="col-md-12">
            {% for modTitulo in modTitulos %}
                {% if  modTitulo.modulos_id == 5 %}
                    <h2 class="page-header">{{modTitulo.titulo}}</h2>
                {% endif %}
            {% endfor %}

        </div>
        <div class="col-sm-12 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="1200ms">
            <div class="feature-inner">
                <p align="justify">A dedicação de 10 anos na comunicação visual, e este ano aconteceu uma coisa percebemos que já atendemos mais de 1000 imobiliárias pelo brasil com diversos produtos e serviços, e estamos comprometidos em melhorar e revolucionar nosso atendimento, e agora resolvemos que vamos nos tornar a mais especializada  no mercado imobiliário, criando VALOR para nosso Cliente você e para a Casa dos Banners estruturando e focando somente na área de imóveis trabalhando junto com imobiliárias e construtoras.</p>
                <p align="justify">Como disse anteriormente queremos criar uma parceria, e ter uma maior dinâmica com nossos clientes, ter procesos melhor definidos, poder dar uma melhor assistência e consultoria, apresentar produtos de melhor qualidade.</p>
                <p align="justify">E antes de tomar esta decisão, pensei muito nisto para apresentar este produto. </p>
            </div>
        </div>
        <div class="col-md-12">
            <hr>
            <ul id="tab2" class="nav nav-pills">

                   
                {% for conteudo in conteudos%}
                   
                    {% set active = "" %}

                    {% if  conteudo.order == 1 %}
                        {% set active = 'active' %}
                    {% endif %}
                    {% if  conteudo.modulos_id == 5 %}
                        <li class="{{active}}"><a href="#tab2-item{{conteudo.order}}" data-toggle="tab">{{conteudo.titulo}}</a></li>

                    {% endif %}
                    
                {% endfor %}

            </ul>
            <div class="tab-content">

                {% for conteudo in conteudos %}
                    {% set active = "" %}
                    {% if  conteudo.modulos_id == 5 %}
                        {% if  conteudo.order == 1 %}
                            {% set active = 'active' %}
                        {% endif %}


                        <div class="tab-pane fade {{active}} in" id="tab2-item{{conteudo.order}}">

                            <div class="row">

                                <div class="col-md-6">
                                    <img src="images/{{conteudo.imagem}}" class="img-responsive" alt="">
                                </div>   
                                <div class="col-md-6">
                                    <p>{{conteudo.descricao}}</p>

                                </div>

                            </div>

                        </div>

                    {% endif %}
                {% endfor %}

            </div>


        </div>
    </div>
</section>