<section id="bonus" class="container">        
    <div id="tab-container">
        <div id="accordion-container">
            <h2 class="page-header">Bônus</h2>
            <div class="panel-group" id="accordion">

                {% for  conteudo in conteudos %}
                    {% set ins = '' %}
                    {% if  conteudo.modulos_id == 7 %}
                        <div class="panel panel-default">


                            <div class="panel-body">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion " href="#collapse{{conteudo.order}}">
                                        {{conteudo.titulo}}
                                    </a>
                                </h4>
                            </div>
                            {% if conteudo.order == 1 %}

                                {% set ins = 'in' %}

                            {% endif %}

                            <div id="collapse{{conteudo.order}}" class="panel-collapse collapse {{ ins }}">
                                <div class="panel-body">
                                    <div class="col-md-6">
                                        <img src="images/{{conteudo.imagem}}" class="img-responsive" alt="">
                                    </div>
                                    <div class="col-md-6">
                                        <p>{{conteudo.descricao}}.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
</section>