<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>{{empresa.nome}}</title>
        <link rel="stylesheet" href="site/css/menu.css">
        <link rel="stylesheet" href="site/css/slider.css">
        <link href="site/css/customs.css" rel="stylesheet">
        <link href="site/css/bootstrap.min.css" rel="stylesheet">
        <link href="site/css/layout.css" rel="stylesheet">
        <link href="site/font-awesome/css/font-awesome.min.css" rel="stylesheet">
        <link rel="shortcut icon" href="../images/{{empresa.imagem_ico}}">
    <body>

        <section id="header" class="header">


            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <img src="images/{{empresa.logo_site}}" alt="{{empresa.nome}}"> 
                        <div>
                        </div>
                    </div>
                    <div class="col-sm-9">

                        <div id="cssmenu">
                            <ul>
                                <li><a href="#"><i class="fa fa-fw fa-home" style="transition: all .25s linear;"></i> Início</a></li>
                                <li><a href="#diferenciais"><i class="fa fa-fw fa-bars" style="transition: all .25s linear;"></i> Diferenciais</a></li>
                                <li><a href="#o-credito-fantastico"><i class="fa fa-fw fa-asterisk" style="transition: all .25s linear;"></i> O Crédito Fantástico</a></li>
                                <li><a href="#as-10-vantagens"><i class="fa fa-fw fa-line-chart" style="transition: all .25s linear;"></i> As 10 Vantagens</a></li>
                                <li><a href="#bonus"><i class="fa fa-fw fa-gift" style="transition: all .25s linear;"></i> Bônus</a></li>
                                <li><a href="#ofertas"><i class="fa fa-fw fa-list-alt" style="transition: all .25s linear;"></i> Ofertas</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    {% block content %}{% endblock %}




<footer class="slider-custom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="copyright-text text-center">
                    <center>&copy; {{empresa.nome}} 2017. Todos os Direitos Reservados.</center>
                    <center>Crafted by <a target="_blank" href="{{empresa.dominio}}">{{empresa.nome}}</a></center>

                </div>
            </div>
        </div>
    </div>
</footer>
<!--/#footer-->

<script src="site/js/menu.js"></script>
<script type="text/javascript" src="site/js/jquery.js"></script>
<script type="text/javascript" src="site/js/bootstrap.min.js"></script>
<script type="text/javascript" src="site/js/slider.min.js"></script>
<script type="text/javascript" src="site/js/layout.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>

<script>
    var $doc = $('html, body');
    $('a').click(function () {
        $doc.animate({
            scrollTop: $($.attr(this, 'href')).offset().top
        }, 500);
        return true;
    });
</script>


<script>
    $(document).ready(function () {
        $(".main").onepage_scroll();
    });
</script>

</body>
</html>