<section id="importante" class="container"> 

    <div class="container">
        <div class="row">
            {% for modTitulo in modTitulos %}
                {% if  modTitulo.modulos_id == 6 %}
                    <h2>{{modTitulo.titulo}}</h2>

                {% endif %}
            {% endfor %}
            <HR>
            {% for key, conteudo in conteudos %}
                {% if  conteudo.modulos_id == 6 %}
                    {% if  key % 2 %}
                        <div class="single-features">
                            <div class="col-sm-6 col-sm-offset-1 align-right wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                                <h2>{{conteudo.titulo}}</h2>
                                <P>{{conteudo.descricao}}</P>
                            </div>
                            <div class="col-sm-5 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                                <img src="images/{{conteudo.imagem}}" class="img-responsive" alt="">
                            </div>
                        </div>
                    {% else %}
                        <div class="single-features">
                            <div class="col-sm-5 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                                <img src="images/{{conteudo.imagem}}" class="img-responsive" alt="">
                            </div>
                            <div class="col-sm-6 wow fadeInRight" data-wow-duration="500ms" data-wow-delay="300ms">
                                <h2>{{conteudo.titulo}}</h2>
                                <P>{{conteudo.descricao}}</P>
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>  
</section> 