

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
            {% set titulos = titulo %}
        {% if page !=  'index' %}
            {% set titulos = 'Painel / '~ titulo %}

        {% endif %}

        <title>{{ titulos }}</title>
        
        <link rel="shortcut icon" type="image/png" href="//localhost/images/{{empresa.imagem_ico}}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
        <script type="text/javascript" src="{{route}}javascript/jquery/jquery-2.1.1.min.js"></script>
        <script type="text/javascript" src="{{route}}javascript/bootstrap/js/bootstrap.min.js"></script>
        <link href="{{route}}stylesheet/bootstrap.css" type="text/css" rel="stylesheet" />
        <link href="{{route}}javascript/font-awesome/css/font-awesome.min.css" type="text/css" rel="stylesheet" />
        <script src="{{route}}javascript/jquery/datetimepicker/moment/moment.min.js" type="text/javascript"></script>
        <script src="{{route}}javascript/jquery/datetimepicker/moment/moment-with-locales.min.js" type="text/javascript"></script>
        <script src="{{route}}javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js" type="text/javascript"></script>
        <link href="{{route}}javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css" type="text/css" rel="stylesheet" media="screen" />
        <link type="text/css" href="{{route}}stylesheet/stylesheet.css" rel="stylesheet" media="screen" />
        <script src="{{route}}javascript/common.js" type="text/javascript"></script>

        <script src="{{route}}javascript/jquery.mask.min.js" type="text/javascript"></script>
        {# 
        <script type="text/javascript" src="{{route}}javascript/jquery/jquery-3.3.1.min.js"></script>
       
        incluir tag no textarea ( data-toggle="summernote ") 
        #}
        <script type="text/javascript" src="{{route}}javascript/summernote/summernote.js"></script>
        <link href="{{route}}javascript/summernote/summernote.css" rel="stylesheet" />
        <script type="text/javascript" src="{{route}}javascript/summernote/summernote-image-attributes.js"></script> 
        <script type="text/javascript" src="{{route}}javascript/summernote/opencart.js"></script> 
        {#  fim  #}

        <!-- Cadastro de clientes -->


        <script src="{{route}}stylesheet/clientes/getClientes.js" type="text/javascript"></script>
        <script src="{{route}}stylesheet/clientes/setPost.js" type="text/javascript"></script>



        <script src="{{route}}stylesheet/clientes/getListaClientes.js" type="text/javascript"></script>
        <script src="{{route}}stylesheet/clientes/getCliente.js" type="text/javascript"></script>

        <!-- Fim Cadastro de clientes -->
    </head>
    <body>
        <div class="bg" id="container">

            {% include 'common/menu.twig'%}

            {% include 'common/menuLateral.twig'%}
            <div id="content">
                {% include 'common/cabecario.twig'%}

            {% block conteiner %}{% endblock %}


            {% include 'common/footer.twig'%}

        </div>
</body>
</html>
{%block javascripts %}{% endblock %}