
<div class="page-header">
    <div class="container-fluid">
        <div class="pull-right">
            {%if page == 3  %}
                <button type="submit" class="btn btn-red"><i class="fa fa-save"></i></button>
                <a href="{{route}}painel/clientes" class="btn btn-default"><i class="fa fa-reply"></i></a>
                {% endif %}



            {%if page != 3 and page != 1%}
                <a href="{{route}}painel/novoCliente" class=" btn btn-red"><i class="fa fa-plus"></i></a>
                {% endif %}
        </div>
        <h1>{{namePage}}</h1>
        <ul class="breadcrumb">
            <li><a href="{{route}}painel">Principal</a></li>
            <li><a href="#">{{namePage}}</a></li>
        </ul>
    </div>
</div>

